@page "/UserUI"
@inject IUserServices userServices
@using Library_Management.Models
@using Library_Manager.Core.Interface

<div class="container-fluid mt-5 p-5">
    @foreach (var user in utilisateurs)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@user.UtilisateurId</td>
                    <td>@user.Nom</td>
                    <td>@user.Adresse</td>
                </tr>
            </tbody>
        </table>
    }
</div>

@code {
    private IEnumerable<Utilisateur> utilisateurs;

    protected override async Task OnInitializedAsync()
    {
        utilisateurs  = await userServices.GetUtilisateurs();
      
    }
}
